*{
	margin: 0;
	padding: 0;
	box-sizing: auto;
}

body{
	font-family: "open sans", sans-serif;
}

/*NAV SECTION*/

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INFO SECTION*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*SUCCEED INFO*/
#succeed-info{
	padding: 2rem 10% 3rem;
}
#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}

/*pre footer*/

#pre-footer{
    color: white;
    padding: 3% 3% 3% 3%;
    background-color: darkblue;
}
#pre-footer h3{
    margin-bottom: 0.5rem;
}
#pre-footer div{
    vertical-align: top;
    display: inline-block;
    width: 20%;
}
footer{
	padding: .7rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;

